## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## Rider
.idea/

## Inno Setup output
install/Output/

## Sample output (test artifacts)
sample.html
sample/
